<div ng-controller="headCtrl" class="navbar navbar-inverse " role="navigation">
  <div class="container pRL15">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#/">Book Readies</a>
	</div>
	<div class="clear visible-sm-block">
	
	</div>
	<div class="hidden-xs dsb ">
		<a ng-class="(item==pagetitle.val)?'headactive':'noactive'" ng-repeat="item in topicData" class="btn-lg btn btn-default" href="#/{{item}}" role="button">{{item}}</a>
		<a  ng-class="('search'==pagetitle.val)?'headactive':'noactive'"  class="btn-lg btn btn-default" href="#/search/all/nofilter" role="button">Search</a>
	</div>
	
	<div class="collapse navbar-collapse mRL-15">
	  <ul class="nav navbar-nav">
		<li  ng-repeat="item in topicData"><a ng-class="(item==pagetitle.val)?'mobheadactive':'noactive'" href="#/{{item}}" role="button">{{item}}</a></li>
		<li ><a ng-class="('search'==pagetitle.val)?'mobheadactive':'noactive'"  href="#/search/all/nofilter" role="button">Search</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</div>