			<ng-include src="'partials/header.html'"> </ng-include>
			<div class="bookHead" id="content" tabindex="-1">
			  <div class="container">
				<h1>BookReadies</h1>
				<p>A collection of useful pages from the internet about the front end technoliges HTML, Javascript, Browsers and Devices and more...</p>
			  </div>
			</div>
			
			<div class="booksec">
				<div class="container-fluid">
					  <div class="row">
						 <div ng-repeat="item in topicData" class="col-sm-4 col-xs-12 col-md-3 ">
							 <div ng-click="gotolocation(item)" class="booktitle verticalCentreparent">
								<div class="verticalCentreparentElem">
									<span class="booktitlesub">{{noOfLinks[$index]}}+ links in </span><br/>
									<a class="" href="#/{{item}}" >{{item}}</a><br>
									<span class="booktitlesub">click to see more</span>
								</div>
								
							 </div>
						 
						 </div>
						 
					  </div>
				</div>
			</div>
			
