<ng-include src="'partials/header.html'"> </ng-include>



<div class="container">
	<div class="pRL15 form-group searchinput rel">
		<label for="search">Search for topics</label>
		<input type="text" myreset class="form-control" id="search" placeholder="Search Topic" ng-model="searchquery">
	</div>

	<div class="searchResultCont">
		<div class="mylinks" ng-repeat="item in pagedata | filter:searchquery | orderBy:'-createdate'">

			<a title="_blank" title="{{item.title}}" href="{{item.href}}">{{item.title}}</a>

		</div>
	</div>
</div>

